<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<servlet-name>PrayerServlet</servlet-name>
		<servlet-class>org.mlk.kjm.prayers.PrayerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrayerServlet</servlet-name>
		<url-pattern>/prayers/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InmateServlet</servlet-name>
		<servlet-class>org.mlk.kjm.inmates.InmateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InmateServlet</servlet-name>
		<url-pattern>/inmates/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>org.mlk.kjm.home.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.mlk.kjm.auth.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/prayers/*</url-pattern>
		<url-pattern>/inmates/*</url-pattern>
	</filter-mapping>
</web-app>