<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<servlet-name>GreetingServlet</servlet-name>
		<servlet-class>org.mlk.kjm.greeting.GreetingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrayerServlet</servlet-name>
		<servlet-class>org.mlk.kjm.prayers.PrayerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GreetingServlet</servlet-name>
		<url-pattern>/GreetingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrayerServlet</servlet-name>
		<url-pattern>/prayer</url-pattern>
	</servlet-mapping>
</web-app>