<!DOCTYPE html>
<html lang="en">

<head>
	<title>Prayer Board</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<script src="https://unpkg.com/htmx.org@2.0.2"
		integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<div class="container">
		<h1>Prayer Board</h1>
		<ul class="menu">
			<li>
				<a class="btn btn-secondary" href="#view-prayers">View Prayers</a>
			</li>
			<li>
				<a class="btn btn-secondary" href="#create-prayer">Create Prayer</a>
			</li>
			<li>
				<a class="btn btn-secondary" href="#view-inmates">View Inmates</a>
			</li>
		</ul>
		<div id="view-prayers" class="tab-content">
			<div hx-get="/prayers/ListPrayers" hx-trigger="load">
				<p class="htmx-indicator">Result loading...</p>
			</div>
		</div>
		<div id="create-prayer" class="tab-content">
			<div hx-get="/prayers/CreatePrayer" hx-trigger="load">
				<p class="htmx-indicator">Result loading...</p>
			</div>
		</div>
		<div id="view-inmates" class="tab-content">
			<div hx-get="/inmates/ListInmates" hx-trigger="load">
				<p class="htmx-indicator">Result loading...</p>
			</div>
		</div>
	</div>
</body>

</html>