<details>
    <summary>Upload from image?</summary>
    <form hx-encoding='multipart/form-data' hx-post='/ocr' hx-target='#prayer-text' hx-swap="outerHTML">
        <div class='form-control'>
            <input type='file' id='file' name='file'>
        </div>
        <input type='submit' class='btn btn-secondary btn-small' value='Convert image to text'/>
    </form>
</details>
<form hx-post='/prayers' hx-target='#prayer-response'>
    <div class='form-control'>
        <label for='first-name'>First Name</label>
        <input required id='first-name' name='first-name' type='text'/>
    </div>
    <div class='form-control'>
        <label for='last-name'>Last Name</label>
        <input required id='last-name' name='last-name' type='text' />
    </div>
    <div class='form-control'>
        <label for='county'>County</label>
        <select id='county' name='county'>
            <option value='Boone'>Boone</option>
            <option value='Campbell'>Campbell</option>
            <option value='Kenton'>Kenton</option>
            <option value='Grant'>Grant</option>
        </select>
    </div>
    <div class='form-control'>
        <label for='date'>Date</label>
        <input required id='date' name='date' type='date' />
    </div>
    <div class='form-control'>
        <label for='prayer'>Prayer</label>
        <textarea required id='prayer-text' name='prayer-text' rows='5'></textarea>
    </div>
    <input type='submit' class='btn btn-primary'/>
    <span id='prayer-response'></span>
</form>
