<div id="uploadPrayerContainer">
    <form id="PrayerRequest" hx-post="/prayers" hx-target="#prayerResponse">
        <div class="mb-3">
            <label for="inmateFirstName" class="form-label">Inmate First Name</label>
            <input required id="inmateFirstName" name="inmateFirstName" type="text" class="form-control" />

            <label for="inmateLastName" class="form-label">Inmate Last Name</label>
            <input required id="inmateLastName" name="inmateLastName" type="text" class="form-control" />

            <label for="county" class="form-label">County</label>
            <input required id="county" name="county" type="text" class="form-control" />
            
            <label for="date" class="form-label">Date</label>
            <input required id="date" name="date" type="text" class="form-control" />

            <label for="prayer" class="form-label">Prayer</label>
            <input required id="prayer" name="prayer" type="text" class="form-control" />
            
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <button class="btn btn-primary">Submit</button>
                <span class="pull-right" id="prayerResponse"></span>
            </div>
        </div>
    </form>
</div>