<div id="prayer"></div>
<form id="list-prayers" hx-get="/prayers/ListPrayers">
    <details>
        <summary>Search Fields</summary>
        <div>
            <label for="inmateFirstName" class="form-label">First Name</label>
            <input id="inmateFirstName" name="inmateFirstName" type="text" class="form-control" />
        </div>
        <div>
            <label for="inmateLastName" class="form-label">Last Name</label>
            <input id="inmateLastName" name="inmateLastName" type="text" class="form-control" />
        </div>
        <div>
            <label for="county" class="form-label">County</label>
            <select id="county" name="county" class="form-select">
                <option value=""></option>
                <option value="Boone">Boone</option>
                <option value="Campbell">Campbell</option>
                <option value="Kenton">Kenton</option>
                <option value="Grant">Grant</option>
            </select>
        </div>
        <div>
            <label for="date" class="form-label">Date</label>
            <input id="date" name="date" type="date" class="form-control" />
        </div>
        <div>
            <div>
                <label for="orderByIsAsc" class="form-check-label">Sort Ascending?</label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" id="orderByIsAsc" name="orderByIsAsc">
            </div>
        </div>
        <div>
            <label for="orderBy" class="form-check-label">Sort by</label>
            <select id="orderBy" name="orderBy" class="form-select">
                <option selected value="last_name">Last name</option>
                <option value="first_name">First name</option>
                <option value="date">Date</option>
            </select>
        </div>
        <div>
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Search" formaction="/prayers/ListPrayers/Reset" />
            </div>
        </div>
    </details>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>County</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="inmateFirstName">First Name</td>
                <td id="inmateLastName">Last Name</td>
                <td id="county">County</td>
                <td id="date">Date</td>
                <td><a id="view" hx-get="SET_ME" hx-target="#prayer" class="btn btn-primary">View</a></td>
            </tr>
        </tbody>
    </table>
    <div id="no-result">
        <p>No prayers found!</p>
    </div>
    <div id="pages" class="row">
        <div id="page-actions" class="col">
            <input id="previous-btn" class="btn btn-primary" type="submit" value="Previous"
                formaction="/prayers/ListPrayers/Previous" />
            <input type="hidden" id="page" name="page" />
            <input id="next-btn" class="btn btn-primary" type="submit" value="Next"
                formaction="/prayers/ListPrayers/Next" />
        </div>
    </div>
</form>