<form id="PrayerRequest" hx-get="/prayers/ListPrayers" hx-target="#getPrayersTarget">
    <h3>Search</h3>
    <div class="row g-3">
        <div class="col-sm">
            <label for="inmateFirstName" class="form-label">Inmate First Name</label>
            <input id="inmateFirstName" name="inmateFirstName" type="text" class="form-control" />
        </div>
        <div class="col-sm">
            <label for="inmateLastName" class="form-label">Inmate Last Name</label>
            <input id="inmateLastName" name="inmateLastName" type="text" class="form-control" />
        </div>
        <div class="col-sm">
            <label for="county" class="form-label">County</label>
            <input id="county" name="county" type="text" class="form-control" />
        </div>
        <div class="col-sm">
            <label for="date" class="form-label">Date</label>
            <input id="date" name="date" type="text" class="form-control" />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-sm">
            <label for="orderBy" class="form-label">Sort Order</label>
            <select id="orderBy" name="orderBy" class="form-select">
                <option selected value="last_name">last name</option>
                <option value="first_name">first name</option>
                <option value="date">date</option>
            </select>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="orderByIsAsc" name="orderByIsAsc">
                <label for="orderByIsAsc" class="form-check-label">Sort Ascending?</label>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <button class="btn btn-primary">Search</button>
    </div>
</form>
<div id="getPrayersTarget"></div>